# Assignment - Webscraping

In [1]:
import selenium
from selenium import webdriver
import pandas as pd
import time
import re
import requests

from bs4 import BeautifulSoup

from selenium.common.exceptions import NoSuchElementException, StaleElementReferenceException, ElementNotInteractableException

from selenium.webdriver.support.ui import WebDriverWait
from selenium.webdriver.support import expected_conditions as EC

from selenium.webdriver.common.by import By

# 1

In [19]:
driver = webdriver.Chrome()
driver.get('https://en.wikipedia.org/wiki/List_of_most-viewed_YouTube_videos')
time.sleep(3)

In [43]:
rank=[]
name=[]
arts=[]
upload_dates=[]
views=[]

In [44]:
ranks =driver.find_elements(By.XPATH,"//*[@id='mw-content-text']/div[1]/table[1]/tbody/tr/td[1]")
for i in ranks:
    if i.text:
         rank.append(i.text)
    else:
        rank.append("-")
print(len(rank),rank)

30 ['1.', '2.', '3.', '4.', '5.', '6.', '7.', '8.', '9.', '10.', '11.', '12.', '13.', '14.', '15.', '16.', '17.', '18.', '19.', '20.', '21.', '22.', '23.', '24.', '25.', '26.', '27.', '28.', '29.', '30.']

In [47]:
names =driver.find_elements(By.XPATH,"//*[@id='mw-content-text']/div[1]/table[1]/tbody/tr/td[2]")
for i in names:
    if i.text:
        name.append(i.text) 
    else:
        Name.append("-")
print(len(name),name)

30 ['"Baby Shark Dance"[6]', '"Despacito"[9]', '"Johny Johny Yes Papa"[16]', '"Bath Song"[17]', '"Shape of You"[18]', '"See You Again"[21]', '"Wheels on the Bus"[26]', '"Phonics Song with Two Words"[27]', '"Uptown Funk"[28]', '"Learning Colors – Colorful Eggs on a Farm"[29]', '"Gangnam Style"[30]', '"Masha and the Bear – Recipe for Disaster"[35]', '"Dame Tu Cosita"[36]', '"Axel F"[37]', '"Sugar"[38]', '"Roar"[39]', '"Counting Stars"[40]', '"Baa Baa Black Sheep"[41]', '"Sorry"[42]', '"Waka Waka (This Time for Africa)"[43]', '"Thinking Out Loud"[44]', '"Lakdi Ki Kathi"[45]', '"Dark Horse"[46]', '"Perfect"[47]', '"Faded"[48]', '"Let Her Go"[49]', '"Humpty the train on a fruits ride"[50]', '"Girls Like You"[51]', '"Bailando"[52]', '"Lean On"[53]']

In [49]:
artists = driver.find_elements(By.XPATH,'//div[@id="mw-content-text"]/div[1]/table[1]/tbody/tr/td[3]')
for i in artists:
    if i.text:
        arts.append(i.text)
    else:
        arts.append('-')
print(len(arts),arts)

30 ["Pinkfong Baby Shark - children's songs", 'Luis Fonsi', 'LooLoo Kids - nursery rhymes', 'Cocomelon - nursery rhymes', 'Ed Sheeran', 'Wiz Khalifa', 'Cocomelon - nursery rhymes', "ChuChu TV - children's songs", 'Mark Ronson', "Miroshka TV - children's songs", 'Psy', "Get Movies - children's songs", 'El Chombo', 'Crazy Frog', 'Maroon 5', 'Katy Perry', 'OneRepublic', 'Cocomelon - nursery rhymes', 'Justin Bieber', 'Shakira', 'Ed Sheeran', 'Jingle Toons', 'Katy Perry', 'Ed Sheeran', 'Alan Walker', 'Passenger', "Kiddiestv Hindi - children's songs", 'Maroon 5', 'Enrique Iglesias', 'Major Lazer']

In [52]:
ud = driver.find_elements(By.XPATH,'//div[@id="mw-content-text"]/div[1]/table[1]/tbody/tr/td[5]')
for i in ud:
    if i.text:
        upload_dates.append(i.text)
    else:
        upload_dates.append('-')
print(len(upload_dates),upload_dates)

30 ['June 17, 2016', 'January 12, 2017', 'October 8, 2016', 'May 2, 2018', 'January 30, 2017', 'April 6, 2015', 'May 24, 2018', 'March 6, 2014', 'November 19, 2014', 'February 27, 2018', 'July 15, 2012', 'January 31, 2012', 'April 5, 2018', 'June 16, 2009', 'January 14, 2015', 'September 5, 2013', 'May 31, 2013', 'June 25, 2018', 'October 22, 2015', 'June 4, 2010', 'October 7, 2014', 'June 14, 2018', 'February 20, 2014', 'November 9, 2017', 'December 3, 2015', 'July 25, 2012', 'January 26, 2018', 'May 31, 2018', 'April 11, 2014', 'March 22, 2015']

In [53]:
viewer  = driver.find_elements(By.XPATH,'//div[@id="mw-content-text"]/div[1]/table[1]/tbody/tr/td[4]')
for i in viewer:
    if i.text:
        views.append(i.text)
    else:
        views.append('-')
print(len(views),views)

30 ['13.18', '8.23', '6.76', '6.33', '6.05', '5.98', '5.46', '5.42', '5.00', '4.94', '4.86', '4.55', '4.41', '4.00', '3.91', '3.84', '3.84', '3.73', '3.69', '3.68', '3.63', '3.63', '3.56', '3.51', '3.49', '3.48', '3.51', '3.45', '3.43', '3.43']

In [ ]:
driver.close()

In [55]:
df = pd.DataFrame({'Ranks':rank,'Names':name,'Artists':arts,'Uploaded Date':upload_dates,'Views':views})
df

,Ranks,Names,Artists,Uploaded Date,Views
0,1.,"""Baby Shark Dance""[6]",Pinkfong Baby Shark - children's songs,"June 17, 2016",13.18
1,2.,"""Despacito""[9]",Luis Fonsi,"January 12, 2017",8.23
2,3.,"""Johny Johny Yes Papa""[16]",LooLoo Kids - nursery rhymes,"October 8, 2016",6.76
3,4.,"""Bath Song""[17]",Cocomelon - nursery rhymes,"May 2, 2018",6.33
4,5.,"""Shape of You""[18]",Ed Sheeran,"January 30, 2017",6.05
5,6.,"""See You Again""[21]",Wiz Khalifa,"April 6, 2015",5.98
6,7.,"""Wheels on the Bus""[26]",Cocomelon - nursery rhymes,"May 24, 2018",5.46
7,8.,"""Phonics Song with Two Words""[27]",ChuChu TV - children's songs,"March 6, 2014",5.42
8,9.,"""Uptown Funk""[28]",Mark Ronson,"November 19, 2014",5.00
9,10.,"""Learning Colors – Colorful Eggs on a Farm""[29]",Miroshka TV - children's songs,"February 27, 2018",4.94
10,11.,"""Gangnam Style""[30]",Psy,"July 15, 2012",4.86
11,12.,"""Masha and the Bear – Recipe for Disaster""[35]",Get Movies - children's songs,"January 31, 2012",4.55
12,13.,"""Dame Tu Cosita""[36]",El Chombo,"April 5, 2018",4.41
13,14.,"""Axel F""[37]",Crazy Frog,"June 16, 2009",4.00
14,15.,"""Sugar""[38]",Maroon 5,"January 14, 2015",3.91
15,16.,"""Roar""[39]",Katy Perry,"September 5, 2013",3.84
16,17.,"""Counting Stars""[40]",OneRepublic,"May 31, 2013",3.84
17,18.,"""Baa Baa Black Sheep""[41]",Cocomelon - nursery rhymes,"June 25, 2018",3.73
18,19.,"""Sorry""[42]",Justin Bieber,"October 22, 2015",3.69
19,20.,"""Waka Waka (This Time for Africa)""[43]",Shakira,"June 4, 2010",3.68
20,21.,"""Thinking Out Loud""[44]",Ed Sheeran,"October 7, 2014",3.63
21,22.,"""Lakdi Ki Kathi""[45]",Jingle Toons,"June 14, 2018",3.63
22,23.,"""Dark Horse""[46]",Katy Perry,"February 20, 2014",3.56
23,24.,"""Perfect""[47]",Ed Sheeran,"November 9, 2017",3.51
24,25.,"""Faded""[48]",Alan Walker,"December 3, 2015",3.49
25,26.,"""Let Her Go""[49]",Passenger,"July 25, 2012",3.48
26,27.,"""Humpty the train on a fruits ride""[50]",Kiddiestv Hindi - children's songs,"January 26, 2018",3.51
27,28.,"""Girls Like You""[51]",Maroon 5,"May 31, 2018",3.45
28,29.,"""Bailando""[52]",Enrique Iglesias,"April 11, 2014",3.43
29,30.,"""Lean On""[53]",Major Lazer,"March 22, 2015",3.43

# 2

In [56]:
driver = webdriver.Chrome()
driver.get('https://www.bcci.tv/.')
time.sleep(3)

In [57]:
international_fixtures = driver.find_element(By.CLASS_NAME,'nav-item')
international_fixtures.click()

In [83]:
titles = []
series = []
Place = []
Dates = []
Times = []

In [84]:
tit = driver.find_elements(By.XPATH,'//h5[@class="match-tournament-name ng-binding"]')
for i in tit:
    if i.text:
        titles.append(i.text)
    else:
        titles.append('-')
print(len(titles),titles)

8 ['INDIA TOUR OF IRELAND 2023', 'INDIA TOUR OF IRELAND 2023', 'INDIA TOUR OF IRELAND 2023', 'ASIA CUP 2023', 'ASIA CUP 2023', 'AUSTRALIA TOUR OF INDIA 2023-24', 'AUSTRALIA TOUR OF INDIA 2023-24', 'AUSTRALIA TOUR OF INDIA 2023-24']

In [88]:
ser = driver.find_elements(By.XPATH,'//span[@class="matchOrderText ng-binding ng-scope"]')
for i in ser:
    if i.text:
        series.append(i.text)
    else:
        series.append('-')
print(len(series),series)

8 ['1st T20I -', '2nd T20I -', '3rd T20I -', '1st ODI -', '2nd ODI -', '1st ODI -', '2nd ODI -', '3rd ODI -']

In [93]:
pla = driver.find_elements(By.XPATH,'//span[@class="ng-binding ng-scope"]')
for i in pla:
    if i.text:
        Place.append(i.text)
    else:
        Place.append('-')
print(len(Place),Place)

8 ['The Village,', 'The Village,', 'The Village,', 'Pallekele International Cricket Stadium,', 'Pallekele International Cricket Stadium,', 'Punjab Cricket Association IS Bindra Stadium,', 'Holkar Cricket Stadium,', 'Saurashtra Cricket Association Stadium,']

In [94]:
date = driver.find_elements(By.XPATH,'//div[@class="match-dates ng-binding"]')
for i in date:
    if i.text:
        Dates.append(i.text)
    else:
        Dates.append('-')
print(len(Dates),Dates)

8 ['18 AUG 2023', '20 AUG 2023', '23 AUG 2023', '2 SEP 2023', '4 SEP 2023', '22 SEP 2023', '24 SEP 2023', '27 SEP 2023']

In [95]:
time = driver.find_elements(By.XPATH,'//div[@class="match-time no-margin ng-binding"]')
for i in time:
    if i.text:
        Times.append(i.text)
    else:
        Times.append('-')
print(len(Times),Times)

8 ['7:30 PM IST', '7:30 PM IST', '7:30 PM IST', '10:00 AM IST', '10:00 AM IST', '1:30 PM IST', '1:30 PM IST', '1:30 PM IST']

In [98]:
driver.close()

In [97]:
df = pd.DataFrame({'Title':titles,'Series':series,'Place':Place,'Date':Dates,'Time':Times})
df

,Title,Series,Place,Date,Time
0,INDIA TOUR OF IRELAND 2023,1st T20I -,"The Village,",18 AUG 2023,7:30 PM IST
1,INDIA TOUR OF IRELAND 2023,2nd T20I -,"The Village,",20 AUG 2023,7:30 PM IST
2,INDIA TOUR OF IRELAND 2023,3rd T20I -,"The Village,",23 AUG 2023,7:30 PM IST
3,ASIA CUP 2023,1st ODI -,"Pallekele International Cricket Stadium,",2 SEP 2023,10:00 AM IST
4,ASIA CUP 2023,2nd ODI -,"Pallekele International Cricket Stadium,",4 SEP 2023,10:00 AM IST
5,AUSTRALIA TOUR OF INDIA 2023-24,1st ODI -,"Punjab Cricket Association IS Bindra Stadium,",22 SEP 2023,1:30 PM IST
6,AUSTRALIA TOUR OF INDIA 2023-24,2nd ODI -,"Holkar Cricket Stadium,",24 SEP 2023,1:30 PM IST
7,AUSTRALIA TOUR OF INDIA 2023-24,3rd ODI -,"Saurashtra Cricket Association Stadium,",27 SEP 2023,1:30 PM IST

# 3

In [36]:
driver = webdriver.Chrome()
driver.get('http://statisticstimes.com/')
time.sleep(3)

In [106]:
economy = driver.find_element(By.CLASS_NAME,'dropbtn')
economy.click()

In [ ]:
india = driver.find_element(By.XPATH,'/html/body/div[2]/div[1]/div[2]/div[2]/div/a[3]')
india.click

In [111]:
GDP_of_indian_states = driver.find_element(By.XPATH,'/html/body/div[2]/div[2]/div[2]/ul/li[1]/a')
GDP_of_indian_states.click()

In [25]:
Ranks = []
States = []
G_pre = []
G_cu= []
Share = []
GDP_in_billion = []

In [26]:
rank = driver.find_elements(By.XPATH,'//table[@id="table_id"]/tbody/tr/td[1]')
for i in rank:
    if i.text:
            Ranks.append(i.text) 
    else:
        Ranks.append('-')
print(len(Ranks),Ranks)

33 ['1', '2', '3', '4', '5', '6', '7', '8', '9', '10', '11', '12', '13', '14', '15', '16', '17', '18', '19', '20', '21', '22', '23', '24', '25', '26', '27', '28', '29', '30', '31', '32', '33']

In [27]:
sta = driver.find_elements(By.XPATH,'//table[@id="table_id"]/tbody/tr/td[2]')
for i in sta:
    if i.text:
        States.append(i.text)
    else:
        States.append('-')
print(len(States),States)

33 ['Maharashtra', 'Tamil Nadu', 'Uttar Pradesh', 'Gujarat', 'Karnataka', 'West Bengal', 'Rajasthan', 'Andhra Pradesh', 'Telangana', 'Madhya Pradesh', 'Kerala', 'Delhi', 'Haryana', 'Bihar', 'Punjab', 'Odisha', 'Assam', 'Chhattisgarh', 'Jharkhand', 'Uttarakhand', 'Jammu & Kashmir', 'Himachal Pradesh', 'Goa', 'Tripura', 'Chandigarh', 'Puducherry', 'Meghalaya', 'Sikkim', 'Manipur', 'Nagaland', 'Arunachal Pradesh', 'Mizoram', 'Andaman & Nicobar Islands']

In [28]:
G_p = driver.find_elements(By.XPATH,'//table[@id="table_id"]/tbody/tr/td[4]')
for i in G_p:
    if i.text:
        G_pre.append(i.text)
    else:
        G_pre.append('-')
print(len(G_pre),G_pre)

33 ['2,632,792', '1,630,208', '1,584,764', '1,502,899', '1,493,127', '1,089,898', '942,586', '862,957', '861,031', '809,592', '781,653', '774,870', '734,163', '530,363', '526,376', '487,805', '315,881', '304,063', '297,204', '245,895', '155,956', '153,845', '73,170', '49,845', '42,114', '34,433', '33,481', '28,723', '27,870', '27,283', '24,603', '22,287', '-']

In [37]:
G_c = driver.find_elements(By.XPATH,'//table[@id="table_id"]/tbody/tr/td[3]')
for i in G_c:
    if i.text[:33]:
        G_cu.append(i.text)
    else:
        G_cu.append('-')
print(len(G_cu),G_cu)

33 ['-', '1,845,853', '1,687,818', '-', '1,631,977', '1,253,832', '1,020,989', '972,782', '969,604', '906,672', '-', '856,112', '831,610', '611,804', '574,760', '521,275', '-', '329,180', '328,598', '-', '-', '165,472', '80,449', '55,984', '-', '38,253', '36,572', '32,496', '31,790', '-', '-', '26,503', '-']

In [29]:
sha = driver.find_elements(By.XPATH,'//table[@id="table_id"]/tbody/tr/td[5]')
for i in sha:
    if i.text:
        Share.append(i.text)
    else:
        Share.append('-')
print(len(Share),Share)

33 ['13.94%', '8.63%', '8.39%', '7.96%', '7.91%', '5.77%', '4.99%', '4.57%', '4.56%', '4.29%', '4.14%', '4.10%', '3.89%', '2.81%', '2.79%', '2.58%', '1.67%', '1.61%', '1.57%', '1.30%', '0.83%', '0.81%', '0.39%', '0.26%', '0.22%', '0.18%', '0.18%', '0.15%', '0.15%', '0.14%', '0.13%', '0.12%', '-']

In [30]:
G_bill = driver.find_elements(By.XPATH,'//table[@id="table_id"]/tbody/tr/td[6]')
for i in G_bill:
    if i.text:
        GDP_in_billion.append(i.text)
    else:
        GDP_in_billion.append('-')
print(len(GDP_in_billion),GDP_in_billion)

33 ['399.921', '247.629', '240.726', '228.290', '226.806', '165.556', '143.179', '131.083', '130.791', '122.977', '118.733', '117.703', '111.519', '80.562', '79.957', '74.098', '47.982', '46.187', '45.145', '37.351', '23.690', '23.369', '11.115', '7.571', '6.397', '5.230', '5.086', '4.363', '4.233', '4.144', '3.737', '3.385', '-']

In [43]:
driver.close()

In [42]:
df = pd.DataFrame({'Rank':Ranks,'State':States,'GSDP(18-19)- at current prices ':G_pre,
                   'GSDP(19-20)- at current prices':G_cu,'Share(18-19)':Share,'GDP($ billion)':GDP_in_billion})

df

,Rank,State,GSDP(18-19)- at current prices,GSDP(19-20)- at current prices,Share(18-19),GDP($ billion)
0,1,Maharashtra,"2,632,792",-,13.94%,399.921
1,2,Tamil Nadu,"1,630,208","1,845,853",8.63%,247.629
2,3,Uttar Pradesh,"1,584,764","1,687,818",8.39%,240.726
3,4,Gujarat,"1,502,899",-,7.96%,228.290
4,5,Karnataka,"1,493,127","1,631,977",7.91%,226.806
5,6,West Bengal,"1,089,898","1,253,832",5.77%,165.556
6,7,Rajasthan,"942,586","1,020,989",4.99%,143.179
7,8,Andhra Pradesh,"862,957","972,782",4.57%,131.083
8,9,Telangana,"861,031","969,604",4.56%,130.791
9,10,Madhya Pradesh,"809,592","906,672",4.29%,122.977
10,11,Kerala,"781,653",-,4.14%,118.733
11,12,Delhi,"774,870","856,112",4.10%,117.703
12,13,Haryana,"734,163","831,610",3.89%,111.519
13,14,Bihar,"530,363","611,804",2.81%,80.562
14,15,Punjab,"526,376","574,760",2.79%,79.957
15,16,Odisha,"487,805","521,275",2.58%,74.098
16,17,Assam,"315,881",-,1.67%,47.982
17,18,Chhattisgarh,"304,063","329,180",1.61%,46.187
18,19,Jharkhand,"297,204","328,598",1.57%,45.145
19,20,Uttarakhand,"245,895",-,1.30%,37.351
20,21,Jammu & Kashmir,"155,956",-,0.83%,23.690
21,22,Himachal Pradesh,"153,845","165,472",0.81%,23.369
22,23,Goa,"73,170","80,449",0.39%,11.115
23,24,Tripura,"49,845","55,984",0.26%,7.571
24,25,Chandigarh,"42,114",-,0.22%,6.397
25,26,Puducherry,"34,433","38,253",0.18%,5.230
26,27,Meghalaya,"33,481","36,572",0.18%,5.086
27,28,Sikkim,"28,723","32,496",0.15%,4.363
28,29,Manipur,"27,870","31,790",0.15%,4.233
29,30,Nagaland,"27,283",-,0.14%,4.144
30,31,Arunachal Pradesh,"24,603",-,0.13%,3.737
31,32,Mizoram,"22,287","26,503",0.12%,3.385
32,33,Andaman & Nicobar Islands,-,-,-,-

# 4

In [44]:
driver = webdriver.Chrome()
driver.get('https://github.com/')
time.sleep(3)

In [45]:
source = driver.find_element(By.XPATH,'/html/body/div[1]/div[1]/header/div/div[2]/div/nav/ul/li[3]/button')
source.click()

In [ ]:
trending = driver.find_element(By.XPATH,'/html/body/div[1]/div[1]/header/div/div[2]/div/nav/ul/li[3]/div/div[3]/ul/li[2]/a')
trending.click()

In [94]:
titl = []
descriptions = []
count = []
Language = []

In [103]:
tit = driver.find_elements(By.XPATH,'//a[@class="Link"]')
for i in tit:
    if i.text:
        titl.append(i.text.split('/')[0:])
    else:
        titl.append('-')
print(len(titl),titl)

25 [['a16z-infra ', ' ai-town'], ['opentffoundation ', ' manifesto'], ['lllyasviel ', ' Fooocus'], ['varunshenoy ', ' opendream'], ['modelscope ', ' facechain'], ['Azure-Samples ', ' azure-search-openai-demo'], ['chatchat-space ', ' Langchain-Chatchat'], ['morph-labs ', ' rift'], ['NVlabs ', ' neuralangelo'], ['ProfSynapse ', ' Synapse_CoR'], ['steven2358 ', ' awesome-generative-ai'], ['ibaiw ', ' 2023Hvv'], ['iam-veeramalla ', ' aws-devops-zero-to-hero'], ['AntonOsika ', ' gpt-engineer'], ['bigskysoftware ', ' htmx'], ['angular ', ' angular'], ['XingangPan ', ' DragGAN'], ['google ', ' googletest'], ['Yidadaa ', ' ChatGPT-Next-Web'], ['awesome-selfhosted ', ' awesome-selfhosted'], ['vercel ', ' next.js'], ['1Panel-dev ', ' 1Panel'], ['assafelovic ', ' gpt-researcher'], ['dotnet ', ' maui'], ['plbrault ', ' youre-the-os']]

In [109]:
desc = driver.find_elements(By.XPATH,'//p[@class="col-9 color-fg-muted my-1 pr-4"]')
for i in desc:
    if i.text:
        descriptions.append(i.text)
    else:
        descriptions.append('-')
    
print(len(descriptions),descriptions)

24 ['A MIT-licensed, deployable starter kit for building and customizing your own version of AI town - a virtual town where AI characters live, chat and socialize.', "The OpenTF Manifesto expresses concern over HashiCorp's switch of the Terraform license from open-source to the Business Source License (BSL) and calls for the tool's return to a truly open-source license.", 'Focus on prompting and generating', 'An extensible, easy-to-use, and portable diffusion web UI 👨\u200d🎨', 'FaceChain is a deep-learning toolchain for generating your Digital-Twin.', 'A sample app for the Retrieval-Augmented Generation pattern running in Azure, using Azure Cognitive Search for retrieval and Azure OpenAI large language models to power ChatGPT-style and Q&A experiences.', 'Langchain-Chatchat (formerly langchain-ChatGLM), local knowledge based LLM (like ChatGLM) QA app with langchain ｜ 基于 Langchain 与 ChatGLM 等语言模型的本地知识库问答', 'Rift: an AI-native language server for your personal AI software engineer', 'Official implementation of "Neuralangelo: High-Fidelity Neural Surface Reconstruction" (CVPR 2023)', 'A curated list of modern Generative Artificial Intelligence projects and services', '2023 HVV情报速递~', 'AWS zero to hero repo for devops engineers to learn AWS in 30 Days. This repo includes projects, presentations, interview questions and real time examples.', 'Specify what you want it to build, the AI asks for clarification, and then builds it.', '</> htmx - high power tools for HTML', 'The modern web developer’s platform', 'Official Code for DragGAN (SIGGRAPH 2023)', 'GoogleTest - Google Testing and Mocking Framework', 'A well-designed cross-platform ChatGPT UI (Web / PWA / Linux / Win / MacOS). 一键拥有你自己的跨平台 ChatGPT 应用。', 'A list of Free Software network services and web applications which can be hosted on your own servers', 'The React Framework', '🔥 🔥 🔥 现代化、开源的 Linux 服务器运维管理面板。', 'GPT based autonomous agent that does online comprehensive research on any given topic', '.NET MAUI is the .NET Multi-platform App UI, a framework for building native device applications spanning mobile, tablet, and desktop.', "A game where you are a computer's OS and you have to manage processes, memory and I/O events."]

In [98]:
contr = driver.find_element(By.XPATH,'//a[@class="Link Link--muted d-inline-block mr-3"]')
contr.click()
time.sleep(2)

by = driver.find_element(By.XPATH,'/html/body/div[1]/div[4]/div/main/turbo-frame/div/div/div/div[1]/nav/a[2]')
by.click()
time.sleep(2)

contributors = driver.find_elements(By.XPATH,'//a[@class="text-normal"]')
for i in contributors:
    if i.text:
        count.append(i.text)
    else:
        count.append('-')
print(len(count),count)

100 ['DicsyDel', 'brikis98', 'coryodaniel', 'SebastianStadil', 'ZIJ', 'orbitz', 'flavius-dinu', 'josh-padnick', 'marcinwyszynski', 'maheshrjl', 'nikolay', 'surfingdoggo', 'ondrejsika', 'omry-hay', 'arwalton', 'Bharathkumarraju', 'dcantos1', 'rogerdipasquale', 'evanstucker-hates-2fa', 'shubhindia', 'madpipeline', 'ptzool', 'rawkode', 'OleksandrUA', 'shahadarsh', 'KelvinVenancio', 'ohad1282', 'spacefuntus', 'AymenSegni', 'hestio-serviceadmin', 'bschaatsbergen', 'Cyclenerd', 'olivierlambert', 'eniolastyle', 'hilyas', 'fatihtokus', 'ipolyzos', 'dvaumoron', 'suryaoruganti', 'samuel-phan', 'antgel', 'jwalsh2me', 'nkotov', 'tigpt', 'ismail44', 'simonramosb', 'viktorix', 'knh1', 'ronnylt', 'yoaquim', 'ttahir86', 'eran-infralight', 'mstrzele', 'coingraham', 'jimjag', 'tamalsaha', 'DanielRis', 'ddouglas', 'tksrc', 'ctvanzandt42', 'edwardofclt', 'theknickerbocker', 'patrick-andrew-jain-taylor', 'gen0cide', 'jwenz723', 'arcaven', 'phaedrus-jaf', 'pst', 'cesar-rodriguez', 'sandrom', 'dave-dotnet-overall', 'RoseSecurity', 'cdsre', 'zachreborn', 'jeroenhabets', 'schrodervictor', 'mik3h0', 'lazzurs', 'bazaah', 'bcantrill', 'MarianoRD', 'kunovsky', 'thschue', 'tparvu', 'anmolnagpal', 'tarahmarie', 'leg100', 'jcanizalez', 'sms-astanley', 'mcalhoun', 'xneyder', 'evoxmusic', 'rtfee', 'jlarfors', 'joshpollara', 'NathanFlurry', 'Piccirello', 'wasinsandiego', 'soerenmartius', 'emocharnik']

In [99]:
lang = driver.find_elements(By.XPATH,'//span[@class="d-inline-block ml-0 mr-3"]')
for i in lang:
    if i.text:
        Language.append(i.text)
    else:
        Language.append('-')
print(len(Language),Language)

22 ['TypeScript', 'HTML', 'Python', 'JavaScript', 'Python', 'Python', 'Python', 'Python', 'Python', 'Python', 'Python', 'JavaScript', 'TypeScript', 'Python', 'C++', 'TypeScript', 'Makefile', 'JavaScript', 'Go', 'Python', 'C#', 'Python']

In [111]:
driver.close()

In [110]:
df = pd.DataFrame({'Repository title':titl[:22],'Repository description':descriptions[:22],
                   'Contributors count':count[:22],'Programing Language used':Language[:22]})
df

,Repository title,Repository description,Contributors count,Programing Language used
0,"[a16z-infra , ai-town]","A MIT-licensed, deployable starter kit for bui...",DicsyDel,TypeScript
1,"[opentffoundation , manifesto]",The OpenTF Manifesto expresses concern over Ha...,brikis98,HTML
2,"[lllyasviel , Fooocus]",Focus on prompting and generating,coryodaniel,Python
3,"[varunshenoy , opendream]","An extensible, easy-to-use, and portable diffu...",SebastianStadil,JavaScript
4,"[modelscope , facechain]",FaceChain is a deep-learning toolchain for gen...,ZIJ,Python
5,"[Azure-Samples , azure-search-openai-demo]",A sample app for the Retrieval-Augmented Gener...,orbitz,Python
6,"[chatchat-space , Langchain-Chatchat]",Langchain-Chatchat (formerly langchain-ChatGLM...,flavius-dinu,Python
7,"[morph-labs , rift]",Rift: an AI-native language server for your pe...,josh-padnick,Python
8,"[NVlabs , neuralangelo]","Official implementation of ""Neuralangelo: High...",marcinwyszynski,Python
9,"[ProfSynapse , Synapse_CoR]",A curated list of modern Generative Artificial...,maheshrjl,Python
10,"[steven2358 , awesome-generative-ai]",2023 HVV情报速递~,nikolay,Python
11,"[ibaiw , 2023Hvv]",AWS zero to hero repo for devops engineers to ...,surfingdoggo,JavaScript
12,"[iam-veeramalla , aws-devops-zero-to-hero]","Specify what you want it to build, the AI asks...",ondrejsika,TypeScript
13,"[AntonOsika , gpt-engineer]",</> htmx - high power tools for HTML,omry-hay,Python
14,"[bigskysoftware , htmx]",The modern web developer’s platform,arwalton,C++
15,"[angular , angular]",Official Code for DragGAN (SIGGRAPH 2023),Bharathkumarraju,TypeScript
16,"[XingangPan , DragGAN]",GoogleTest - Google Testing and Mocking Framework,dcantos1,Makefile
17,"[google , googletest]",A well-designed cross-platform ChatGPT UI (Web...,rogerdipasquale,JavaScript
18,"[Yidadaa , ChatGPT-Next-Web]",A list of Free Software network services and w...,evanstucker-hates-2fa,Go
19,"[awesome-selfhosted , awesome-selfhosted]",The React Framework,shubhindia,Python
20,"[vercel , next.js]",🔥 🔥 🔥 现代化、开源的 Linux 服务器运维管理面板。,madpipeline,C#
21,"[1Panel-dev , 1Panel]",GPT based autonomous agent that does online co...,ptzool,Python

# 5

In [ ]:
5. Scrape the details of top 100 songs on billiboard.com. Url = https:/www.billboard.com/
You have to find the following details:
A) Song name
B) Artist name
C) Last week rank
D) Peak rank
E) Weeks on board
Note: - From the home page you have to click on the charts option then hot 100-page link through code.

In [2]:
driver = webdriver.Chrome()
driver.get('https:/www.billboard.com/')
time.sleep(2)

In [3]:
charts = driver.find_element(By.XPATH,'/html/body/div[3]/header/div/div[2]/div/div/div[2]/div[2]/div/div/nav/ul/li[1]/a')
charts.click()

In [4]:
billboard = driver.find_element(By.XPATH,'//a[@class="c-label__link lrv-u-color-brand-primary u-color-black@mobile-max a-font-primary-bold lrv-u-font-size-32 u-whitespace-nowrap@tablet"]')
billboard.click()

In [29]:
song = []
artists = []
weaks_ranks = []

In [30]:
sng = driver.find_elements(By.XPATH,'//li[@class="lrv-u-width-100p"]/ul/li/h3')
for i in sng:
    try:
        song.append(i.text)
    except:
        song.append('-')
print(len(song),song)

100 ['Last Night', 'Fast Car', 'Cruel Summer', 'Calm Down', 'Fukumean', 'Vampire', 'Dance The Night', 'Barbie World', 'Flowers', 'Snooze', 'All My Life', 'Meltdown', 'Karma', 'What Was I Made For?', 'Paint The Town Red', 'Need A Favor', 'Religiously', 'Anti-Hero', 'Kill Bill', "Creepin'", 'Try That In A Small Town', 'I Know ?', "Thinkin' Bout Me", 'FE!N', 'Cupid', 'Favorite Song', 'K-POP', 'Seven', 'Telekinesis', 'Dial Drunk', 'Ella Baila Sola', 'Next Thing You Know', 'Love You Anyway', 'Thought You Should Know', 'Chemical', 'Bury Me In Georgia', 'You, Me, & Whiskey', 'La Bebe', 'Watermelon Moonshine', 'Search & Rescue', 'Put It On Da Floor Again', 'Un x100to', 'LaLa', 'My Eyes', 'Daylight', 'Topia Twins', 'Lady Gaga', "Baby Don't Hurt Me", 'Blank Space', 'What It Is (Block Boy)', 'Deli', 'Where She Goes', 'Princess Diana', 'Peaches & Eggplants', 'In Your Love', 'Mourning', 'Area Codes', 'Your Heart Or Mine', 'White Horse', 'Sabor Fresa', 'Truck Bed', 'Eyes Closed', "I Can See You (Taylor's Version) (From The Vault)", 'Thank God', 'Tulum', 'Super Shy', 'Popular', 'Good Good', 'Everything I Love', 'Hyaena', 'Modern Jam', 'Shake Sumn', 'Jaded', 'Stand By Me', 'Speed Drive', 'Fragil', 'TQM', "Angels Don't Always Have Wings", 'Johnny Dang', 'Memory Lane', 'Heartbroken', 'El Amor de Su Vida', 'Jealousy', 'Oh U Went', 'Til Further Notice', 'Oklahoma Smoke Show', 'Sirens', 'Save Me', "God's Country", "I'm Just Ken", 'ICU', 'Skitzo', 'Delresto (Echoes)', 'See You Again', 'Pound Town 2', 'Lagunas', 'Overdrive', 'Bzrp Music Sessions, Vol. 55', 'Dawns', 'Rubicon']

In [31]:
art = driver.find_elements(By.XPATH,'//li[@class="lrv-u-width-100p"]/ul/li[1]/span')
for i in art:
    try:
        artists.append(i.text)
    except:
        artists.append('-')
print(len(artists),artists)

100 ['Morgan Wallen', 'Luke Combs', 'Taylor Swift', 'Rema & Selena Gomez', 'Gunna', 'Olivia Rodrigo', 'Dua Lipa', 'Nicki Minaj & Ice Spice With Aqua', 'Miley Cyrus', 'SZA', 'Lil Durk Featuring J. Cole', 'Travis Scott Featuring Drake', 'Taylor Swift Featuring Ice Spice', 'Billie Eilish', 'Doja Cat', 'Jelly Roll', 'Bailey Zimmerman', 'Taylor Swift', 'SZA', 'Metro Boomin, The Weeknd & 21 Savage', 'Jason Aldean', 'Travis Scott', 'Morgan Wallen', 'Travis Scott Featuring Playboi Carti', 'Fifty Fifty', 'Toosii', 'Travis Scott, Bad Bunny & The Weeknd', 'Jung Kook Featuring Latto', 'Travis Scott Featuring SZA & Future', 'Noah Kahan With Post Malone', 'Eslabon Armado X Peso Pluma', 'Jordan Davis', 'Luke Combs', 'Morgan Wallen', 'Post Malone', 'Kane Brown', 'Justin Moore & Priscilla Block', 'Yng Lvcas x Peso Pluma', 'Lainey Wilson', 'Drake', 'Latto Featuring Cardi B', 'Grupo Frontera X Bad Bunny', 'Myke Towers', 'Travis Scott', 'David Kushner', 'Travis Scott Featuring Rob49 & 21 Savage', 'Peso Pluma, Gabito Ballesteros & Junior H', 'David Guetta, Anne-Marie & Coi Leray', 'Taylor Swift', 'Doechii Featuring Kodak Black', 'Ice Spice', 'Bad Bunny', 'Ice Spice & Nicki Minaj', 'Young Nudy Featuring 21 Savage', 'Tyler Childers', 'Post Malone', 'Kaliii', 'Jon Pardi', 'Chris Stapleton', 'Fuerza Regida', 'HARDY', 'Ed Sheeran', 'Taylor Swift', 'Travis Scott', 'Peso Pluma & Grupo Frontera', 'NewJeans', 'The Weeknd, Playboi Carti & Madonna', 'Usher, Summer Walker & 21 Savage', 'Morgan Wallen', 'Travis Scott', 'Travis Scott Featuring Teezo Touchdown', 'DaBaby', 'Miley Cyrus', 'Lil Durk Featuring Morgan Wallen', 'Charli XCX', 'Yahritza y Su Esencia x Grupo Frontera', 'Fuerza Regida', 'Thomas Rhett', 'That Mexican OT, Paul Wall & DRODi', 'Old Dominion', 'Diplo, Jessie Murph & Polo G', 'Grupo Frontera & Grupo Firme', 'Offset & Cardi B', 'Young Thug Featuring Drake', 'Travis Scott Featuring James Blake & 21 Savage', 'Zach Bryan', 'Travis Scott', 'Jelly Roll With Lainey Wilson', 'Travis Scott', 'Ryan Gosling', 'Coco Jones', 'Travis Scott Featuring Young Thug', 'Travis Scott & Beyonce', 'Tyler, The Creator Featuring Kali Uchis', 'Sexyy Red & Tay Keith & Nicki Minaj', 'Peso Pluma & Jasiel Nunez', 'Post Malone', 'Bizarrap & Peso Pluma', 'Zach Bryan Featuring Maggie Rogers', 'Peso Pluma']

In [32]:
w_rank = driver.find_elements(By.XPATH,'//div[@class="o-chart-results-list-row-container"]/ul/li/span')
for i in w_rank[0:100]:
    try:
        weaks_ranks.append(i.text)
    except:
        weaks_ranks.append('-')
print(len(weaks_ranks),weaks_ranks)

100 ['1', '2', '3', '5', '6', '7', '8', '9', '10', '11', '12', '13', '14', '15', '', 'NEW', '16', '17', '18', '19', '20', '21', '22', '23', '24', '25', '26', '27', '28', '29', '30', '31', '32', '33', '34', '35', '36', '37', '38', '39', '40', '41', '42', '43', '44', '45', '46', '47', '48', '49', '', 'RE- ENTRY', '50', '51', '52', '53', '54', '55', '56', '57', '58', '59', '60', '61', '62', '63', '64', '65', '66', '67', '68', '', 'NEW', '69', '70', '71', '72', '73', '74', '75', '76', '77', '78', '', 'RE- ENTRY', '79', '80', '81', '82', '', 'NEW', '83', '84', '85', '86', '', 'RE- ENTRY', '87', '88', '']

In [37]:
driver.close()

In [36]:
df = pd.DataFrame({'Song Name':song,'Artists':artists,'Weak Rank':weaks_ranks})
df

,Song Name,Artists,Weak Rank
0,Last Night,Morgan Wallen,1
1,Fast Car,Luke Combs,2
2,Cruel Summer,Taylor Swift,3
3,Calm Down,Rema & Selena Gomez,5
4,Fukumean,Gunna,6
...,...,...,...
95,Lagunas,Peso Pluma & Jasiel Nunez,
96,Overdrive,Post Malone,RE- ENTRY
97,"Bzrp Music Sessions, Vol. 55",Bizarrap & Peso Pluma,87
98,Dawns,Zach Bryan Featuring Maggie Rogers,88
99,Rubicon,Peso Pluma,

# 6

In [3]:
driver = webdriver.Chrome()
Url = "https://www.theguardian.com/news/datablog/2012/aug/09/best-selling-books-all-time-fifty-shades-grey-compare"
driver.get(Url)
time.sleep(2)

In [4]:
book_name = []
author = []
sold = []
publisher = []
genre = []

In [5]:
book = driver.find_elements(By.XPATH,'//div[@class="embed block"]/table/tbody/tr/td[2]')
for i in book:
    try:
        book_name.append(i.text)
    except:
        book_name.append('-')
print(len(book_name),book_name)

100 ['Da Vinci Code,The', 'Harry Potter and the Deathly Hallows', "Harry Potter and the Philosopher's Stone", 'Harry Potter and the Order of the Phoenix', 'Fifty Shades of Grey', 'Harry Potter and the Goblet of Fire', 'Harry Potter and the Chamber of Secrets', 'Harry Potter and the Prisoner of Azkaban', 'Angels and Demons', "Harry Potter and the Half-blood Prince:Children's Edition", 'Fifty Shades Darker', 'Twilight', 'Girl with the Dragon Tattoo,The:Millennium Trilogy', 'Fifty Shades Freed', 'Lost Symbol,The', 'New Moon', 'Deception Point', 'Eclipse', 'Lovely Bones,The', 'Curious Incident of the Dog in the Night-time,The', 'Digital Fortress', 'Short History of Nearly Everything,A', 'Girl Who Played with Fire,The:Millennium Trilogy', 'Breaking Dawn', 'Very Hungry Caterpillar,The:The Very Hungry Caterpillar', 'Gruffalo,The', "Jamie's 30-Minute Meals", 'Kite Runner,The', 'One Day', 'Thousand Splendid Suns,A', "Girl Who Kicked the Hornets' Nest,The:Millennium Trilogy", "Time Traveler's Wife,The", 'Atonement', "Bridget Jones's Diary:A Novel", 'World According to Clarkson,The', "Captain Corelli's Mandolin", 'Sound of Laughter,The', 'Life of Pi', 'Billy Connolly', 'Child Called It,A', "Gruffalo's Child,The", "Angela's Ashes:A Memoir of a Childhood", 'Birdsong', 'Northern Lights:His Dark Materials S.', 'Labyrinth', 'Harry Potter and the Half-blood Prince', 'Help,The', 'Man and Boy', 'Memoirs of a Geisha', "No.1 Ladies' Detective Agency,The:No.1 Ladies' Detective Agency S.", 'Island,The', 'PS, I Love You', 'You are What You Eat:The Plan That Will Change Your Life', 'Shadow of the Wind,The', 'Tales of Beedle the Bard,The', 'Broker,The', "Dr. Atkins' New Diet Revolution:The No-hunger, Luxurious Weight Loss P", 'Subtle Knife,The:His Dark Materials S.', 'Eats, Shoots and Leaves:The Zero Tolerance Approach to Punctuation', "Delia's How to Cook:(Bk.1)", 'Chocolat', 'Boy in the Striped Pyjamas,The', "My Sister's Keeper", 'Amber Spyglass,The:His Dark Materials S.', 'To Kill a Mockingbird', 'Men are from Mars, Women are from Venus:A Practical Guide for Improvin', 'Dear Fatty', 'Short History of Tractors in Ukrainian,A', 'Hannibal', 'Lord of the Rings,The', 'Stupid White Men:...and Other Sorry Excuses for the State of the Natio', 'Interpretation of Murder,The', 'Sharon Osbourne Extreme:My Autobiography', 'Alchemist,The:A Fable About Following Your Dream', "At My Mother's Knee ...:and Other Low Joints", 'Notes from a Small Island', 'Return of the Naked Chef,The', 'Bridget Jones: The Edge of Reason', "Jamie's Italy", 'I Can Make You Thin', 'Down Under', 'Summons,The', 'Small Island', 'Nigella Express', 'Brick Lane', "Memory Keeper's Daughter,The", 'Room on the Broom', 'About a Boy', 'My Booky Wook', 'God Delusion,The', '"Beano" Annual,The', 'White Teeth', 'House at Riverton,The', 'Book Thief,The', 'Nights of Rain and Stars', 'Ghost,The', 'Happy Days with the Naked Chef', 'Hunger Games,The:Hunger Games Trilogy', "Lost Boy,The:A Foster Child's Search for the Love of a Family", "Jamie's Ministry of Food:Anyone Can Learn to Cook in 24 Hours"]

In [6]:
auth = driver.find_elements(By.XPATH,'//div[@class="embed block"]/table/tbody/tr/td[3]')
for i in auth:
    try:
        author.append(i.text)
    except:
        author.append('-')
print(len(author),author)

100 ['Brown, Dan', 'Rowling, J.K.', 'Rowling, J.K.', 'Rowling, J.K.', 'James, E. L.', 'Rowling, J.K.', 'Rowling, J.K.', 'Rowling, J.K.', 'Brown, Dan', 'Rowling, J.K.', 'James, E. L.', 'Meyer, Stephenie', 'Larsson, Stieg', 'James, E. L.', 'Brown, Dan', 'Meyer, Stephenie', 'Brown, Dan', 'Meyer, Stephenie', 'Sebold, Alice', 'Haddon, Mark', 'Brown, Dan', 'Bryson, Bill', 'Larsson, Stieg', 'Meyer, Stephenie', 'Carle, Eric', 'Donaldson, Julia', 'Oliver, Jamie', 'Hosseini, Khaled', 'Nicholls, David', 'Hosseini, Khaled', 'Larsson, Stieg', 'Niffenegger, Audrey', 'McEwan, Ian', 'Fielding, Helen', 'Clarkson, Jeremy', 'Bernieres, Louis de', 'Kay, Peter', 'Martel, Yann', 'Stephenson, Pamela', 'Pelzer, Dave', 'Donaldson, Julia', 'McCourt, Frank', 'Faulks, Sebastian', 'Pullman, Philip', 'Mosse, Kate', 'Rowling, J.K.', 'Stockett, Kathryn', 'Parsons, Tony', 'Golden, Arthur', 'McCall Smith, Alexander', 'Hislop, Victoria', 'Ahern, Cecelia', 'McKeith, Gillian', 'Zafon, Carlos Ruiz', 'Rowling, J.K.', 'Grisham, John', 'Atkins, Robert C.', 'Pullman, Philip', 'Truss, Lynne', 'Smith, Delia', 'Harris, Joanne', 'Boyne, John', 'Picoult, Jodi', 'Pullman, Philip', 'Lee, Harper', 'Gray, John', 'French, Dawn', 'Lewycka, Marina', 'Harris, Thomas', 'Tolkien, J. R. R.', 'Moore, Michael', 'Rubenfeld, Jed', 'Osbourne, Sharon', 'Coelho, Paulo', "O'Grady, Paul", 'Bryson, Bill', 'Oliver, Jamie', 'Fielding, Helen', 'Oliver, Jamie', 'McKenna, Paul', 'Bryson, Bill', 'Grisham, John', 'Levy, Andrea', 'Lawson, Nigella', 'Ali, Monica', 'Edwards, Kim', 'Donaldson, Julia', 'Hornby, Nick', 'Brand, Russell', 'Dawkins, Richard', '0', 'Smith, Zadie', 'Morton, Kate', 'Zusak, Markus', 'Binchy, Maeve', 'Harris, Robert', 'Oliver, Jamie', 'Collins, Suzanne', 'Pelzer, Dave', 'Oliver, Jamie']

In [7]:
sales = driver.find_elements(By.XPATH,'//div[@class="embed block"]/table/tbody/tr/td[4]')
for i in sales:
    try:
        sold.append(i.text)
    except:
        sold.append('-')
print(len(sold),sold)

100 ['5,094,805', '4,475,152', '4,200,654', '4,179,479', '3,758,936', '3,583,215', '3,484,047', '3,377,906', '3,193,946', '2,950,264', '2,479,784', '2,315,405', '2,233,570', '2,193,928', '2,183,031', '2,152,737', '2,062,145', '2,052,876', '2,005,598', '1,979,552', '1,928,900', '1,852,919', '1,814,784', '1,787,118', '1,783,535', '1,781,269', '1,743,266', '1,629,119', '1,616,068', '1,583,992', '1,555,135', '1,546,886', '1,539,428', '1,508,205', '1,489,403', '1,352,318', '1,310,207', '1,310,176', '1,231,957', '1,217,712', '1,208,711', '1,204,058', '1,184,967', '1,181,503', '1,181,093', '1,153,181', '1,132,336', '1,130,802', '1,126,337', '1,115,549', '1,108,328', '1,107,379', '1,104,403', '1,092,349', '1,090,847', '1,087,262', '1,054,196', '1,037,160', '1,023,688', '1,015,956', '1,009,873', '1,004,414', '1,003,780', '1,002,314', '998,213', '992,846', '986,753', '986,115', '970,509', '967,466', '963,353', '962,515', '959,496', '956,114', '945,640', '931,312', '925,425', '924,695', '906,968', '905,086', '890,847', '869,671', '869,659', '862,602', '856,540', '845,858', '842,535', '828,215', '820,563', '816,907', '816,585', '815,586', '814,370', '809,641', '808,900', '807,311', '794,201', '792,187', '791,507', '791,095']

In [8]:
pub = driver.find_elements(By.XPATH,'//div[@class="embed block"]/table/tbody/tr/td[5]')
for i in pub:
    try:
        publisher.append(i.text)
    except:
        publisher.append('-')
print(len(publisher),publisher)

100 ['Transworld', 'Bloomsbury', 'Bloomsbury', 'Bloomsbury', 'Random House', 'Bloomsbury', 'Bloomsbury', 'Bloomsbury', 'Transworld', 'Bloomsbury', 'Random House', 'Little, Brown Book', 'Quercus', 'Random House', 'Transworld', 'Little, Brown Book', 'Transworld', 'Little, Brown Book', 'Pan Macmillan', 'Random House', 'Transworld', 'Transworld', 'Quercus', 'Little, Brown Book', 'Penguin', 'Pan Macmillan', 'Penguin', 'Bloomsbury', 'Hodder & Stoughton', 'Bloomsbury', 'Quercus', 'Random House', 'Random House', 'Pan Macmillan', 'Penguin', 'Random House', 'Random House', 'Canongate', 'HarperCollins', 'Orion', 'Pan Macmillan', 'HarperCollins', 'Random House', 'Scholastic Ltd.', 'Orion', 'Bloomsbury', 'Penguin', 'HarperCollins', 'Random House', 'Little, Brown Book', 'Headline', 'HarperCollins', 'Penguin', 'Orion', 'Bloomsbury', 'Random House', 'Random House', 'Scholastic Ltd.', 'Profile Books Group', 'Random House', 'Transworld', 'Random House Childrens Books G', 'Hodder & Stoughton', 'Scholastic Ltd.', 'Random House', 'HarperCollins', 'Random House', 'Penguin', 'Random House', 'HarperCollins', 'Penguin', 'Headline', 'Little, Brown Book', 'HarperCollins', 'Transworld', 'Transworld', 'Penguin', 'Pan Macmillan', 'Penguin', 'Transworld', 'Transworld', 'Random House', 'Headline', 'Random House', 'Transworld', 'Penguin', 'Pan Macmillan', 'Penguin', 'Hodder & Stoughton', 'Transworld', 'D.C. Thomson', 'Penguin', 'Pan Macmillan', 'Transworld', 'Orion', 'Random House', 'Penguin', 'Scholastic Ltd.', 'Orion', 'Penguin']

In [9]:
gen = driver.find_elements(By.XPATH,'//div[@class="embed block"]/table/tbody/tr/td[6]')
for i in gen:
    try:
        genre.append(i.text)
    except:
        genre.append('-')
print(len(genre),genre)

100 ['Crime, Thriller & Adventure', "Children's Fiction", "Children's Fiction", "Children's Fiction", 'Romance & Sagas', "Children's Fiction", "Children's Fiction", "Children's Fiction", 'Crime, Thriller & Adventure', "Children's Fiction", 'Romance & Sagas', 'Young Adult Fiction', 'Crime, Thriller & Adventure', 'Romance & Sagas', 'Crime, Thriller & Adventure', 'Young Adult Fiction', 'Crime, Thriller & Adventure', 'Young Adult Fiction', 'General & Literary Fiction', 'General & Literary Fiction', 'Crime, Thriller & Adventure', 'Popular Science', 'Crime, Thriller & Adventure', 'Young Adult Fiction', 'Picture Books', 'Picture Books', 'Food & Drink: General', 'General & Literary Fiction', 'General & Literary Fiction', 'General & Literary Fiction', 'Crime, Thriller & Adventure', 'General & Literary Fiction', 'General & Literary Fiction', 'General & Literary Fiction', 'Humour: Collections & General', 'General & Literary Fiction', 'Autobiography: General', 'General & Literary Fiction', 'Biography: The Arts', 'Autobiography: General', 'Picture Books', 'Autobiography: General', 'General & Literary Fiction', 'Young Adult Fiction', 'General & Literary Fiction', 'Science Fiction & Fantasy', 'General & Literary Fiction', 'General & Literary Fiction', 'General & Literary Fiction', 'Crime, Thriller & Adventure', 'General & Literary Fiction', 'General & Literary Fiction', 'Fitness & Diet', 'General & Literary Fiction', "Children's Fiction", 'Crime, Thriller & Adventure', 'Fitness & Diet', 'Young Adult Fiction', 'Usage & Writing Guides', 'Food & Drink: General', 'General & Literary Fiction', 'Young Adult Fiction', 'General & Literary Fiction', 'Young Adult Fiction', 'General & Literary Fiction', 'Popular Culture & Media: General Interest', 'Autobiography: The Arts', 'General & Literary Fiction', 'Crime, Thriller & Adventure', 'Science Fiction & Fantasy', 'Current Affairs & Issues', 'Crime, Thriller & Adventure', 'Autobiography: The Arts', 'General & Literary Fiction', 'Autobiography: The Arts', 'Travel Writing', 'Food & Drink: General', 'General & Literary Fiction', 'National & Regional Cuisine', 'Fitness & Diet', 'Travel Writing', 'Crime, Thriller & Adventure', 'General & Literary Fiction', 'Food & Drink: General', 'General & Literary Fiction', 'General & Literary Fiction', 'Picture Books', 'General & Literary Fiction', 'Autobiography: The Arts', 'Popular Science', "Children's Annuals", 'General & Literary Fiction', 'General & Literary Fiction', 'General & Literary Fiction', 'General & Literary Fiction', 'General & Literary Fiction', 'Food & Drink: General', 'Young Adult Fiction', 'Biography: General', 'Food & Drink: General']

In [11]:
driver.close()

In [10]:
df = pd.DataFrame({'Book Name':book_name,'Authors':author,'Volumes sold':sold,'Publisher':publisher,'genre':genre})
df

,Book Name,Authors,Volumes sold,Publisher,genre
0,"Da Vinci Code,The","Brown, Dan","5,094,805",Transworld,"Crime, Thriller & Adventure"
1,Harry Potter and the Deathly Hallows,"Rowling, J.K.","4,475,152",Bloomsbury,Children's Fiction
2,Harry Potter and the Philosopher's Stone,"Rowling, J.K.","4,200,654",Bloomsbury,Children's Fiction
3,Harry Potter and the Order of the Phoenix,"Rowling, J.K.","4,179,479",Bloomsbury,Children's Fiction
4,Fifty Shades of Grey,"James, E. L.","3,758,936",Random House,Romance & Sagas
...,...,...,...,...,...
95,"Ghost,The","Harris, Robert","807,311",Random House,General & Literary Fiction
96,Happy Days with the Naked Chef,"Oliver, Jamie","794,201",Penguin,Food & Drink: General
97,"Hunger Games,The:Hunger Games Trilogy","Collins, Suzanne","792,187",Scholastic Ltd.,Young Adult Fiction
98,"Lost Boy,The:A Foster Child's Search for the L...","Pelzer, Dave","791,507",Orion,Biography: General
99,Jamie's Ministry of Food:Anyone Can Learn to C...,"Oliver, Jamie","791,095",Penguin,Food & Drink: General

# 7

In [58]:
driver = webdriver.Chrome()
driver.get('https://www.imdb.com/list/ls095964455/')
time.sleep(2)

In [59]:
name = []
spans = []
genre = []
run = []
ratings = []
Votes = []

In [60]:
sng = driver.find_elements(By.XPATH,'//div[@class="lister-item-content"]/h3/a')
for i in sng:
    if i.text:
        name.append(i.text)
    else:
        name.append('-')
print(len(name),name)

100 ['Game of Thrones', 'Stranger Things', 'The Walking Dead', '13 Reasons Why', 'The 100', 'Orange Is the New Black', 'Riverdale', "Grey's Anatomy", 'The Flash', 'Arrow', 'Money Heist', 'The Big Bang Theory', 'Black Mirror', 'Sherlock', 'Vikings', 'Pretty Little Liars', 'The Vampire Diaries', 'American Horror Story', 'Breaking Bad', 'Lucifer', 'Supernatural', 'Prison Break', 'How to Get Away with Murder', 'Teen Wolf', 'The Simpsons', 'Once Upon a Time', 'Narcos', 'Daredevil', 'Friends', 'How I Met Your Mother', 'Suits', 'Mr. Robot', 'The Originals', 'Supergirl', 'Gossip Girl', 'Sense8', 'Gotham', 'Westworld', 'Jessica Jones', 'Modern Family', 'Rick and Morty', 'Shadowhunters', 'The End of the F***ing World', 'House of Cards', 'Dark', 'Elite', 'Sex Education', 'Shameless', 'New Girl', 'Agents of S.H.I.E.L.D.', 'You', 'Dexter', 'Fear the Walking Dead', 'Family Guy', 'The Blacklist', 'Lost', 'Peaky Blinders', 'House', 'Quantico', 'Orphan Black', 'Homeland', 'Blindspot', "DC's Legends of Tomorrow", "The Handmaid's Tale", 'Chilling Adventures of Sabrina', 'The Good Doctor', 'Jane the Virgin', 'Glee', 'South Park', 'Brooklyn Nine-Nine', 'Under the Dome', 'The Umbrella Academy', 'True Detective', 'The OA', 'Desperate Housewives', 'Better Call Saul', 'Bates Motel', 'The Punisher', 'Atypical', 'Dynasty', 'This Is Us', 'The Good Place', 'Iron Fist', 'The Rain', 'Mindhunter', 'Revenge', 'Luke Cage', 'Scandal', 'The Defenders', 'Big Little Lies', 'Insatiable', 'The Mentalist', 'The Crown', 'Chernobyl', 'iZombie', 'Reign', 'A Series of Unfortunate Events', 'Criminal Minds', 'Scream: The TV Series', 'The Haunting of Hill House']

In [61]:
spn = driver.find_elements(By.XPATH,'//span[@class="lister-item-year text-muted unbold"]')
for i in spn:
    try:
        spans.append(i.text)
    except:
        spans.append('-')
print(len(spans),spans)

100 ['(2011–2019)', '(2016–2024)', '(2010–2022)', '(2017–2020)', '(2014–2020)', '(2013–2019)', '(2017–2023)', '(2005– )', '(2014–2023)', '(2012–2020)', '(2017–2021)', '(2007–2019)', '(2011– )', '(2010–2017)', '(2013–2020)', '(2010–2017)', '(2009–2017)', '(2011– )', '(2008–2013)', '(2016–2021)', '(2005–2020)', '(2005–2017)', '(2014–2020)', '(2011–2017)', '(1989– )', '(2011–2018)', '(I) (2015–2017)', '(2015–2018)', '(1994–2004)', '(2005–2014)', '(2011–2019)', '(2015–2019)', '(2013–2018)', '(2015–2021)', '(2007–2012)', '(2015–2018)', '(2014–2019)', '(2016–2022)', '(2015–2019)', '(2009–2020)', '(2013– )', '(2016–2019)', '(2017–2019)', '(2013–2018)', '(2017–2020)', '(2018– )', '(2019–2023)', '(2011–2021)', '(2011–2018)', '(2013–2020)', '(2018–2024)', '(2006–2013)', '(2015–2023)', '(1999– )', '(2013–2023)', '(2004–2010)', '(2013–2022)', '(2004–2012)', '(2015–2018)', '(2013–2017)', '(2011–2020)', '(2015–2020)', '(2016–2022)', '(2017– )', '(2018–2020)', '(2017– )', '(2014–2019)', '(2009–2015)', '(1997– )', '(2013–2021)', '(2013–2015)', '(2019–2023)', '(2014– )', '(2016–2019)', '(2004–2012)', '(2015–2022)', '(2013–2017)', '(2017–2019)', '(2017–2021)', '(2017–2022)', '(2016–2022)', '(2016–2020)', '(2017–2018)', '(2018–2020)', '(2017–2019)', '(2011–2015)', '(2016–2018)', '(2012–2018)', '(2017)', '(2017–2019)', '(2018–2019)', '(2008–2015)', '(2016–2023)', '(2019)', '(2015–2019)', '(2013–2017)', '(2017–2019)', '(2005– )', '(2015–2019)', '(2018)']

In [62]:
gen = driver.find_elements(By.XPATH,'//span[@class="genre"]')
for i in gen:
    try:
        genre.append(i.text)
    except:
        genre.append('-')
print(len(genre),genre)

100 ['Action, Adventure, Drama', 'Drama, Fantasy, Horror', 'Drama, Horror, Thriller', 'Drama, Mystery, Thriller', 'Drama, Mystery, Sci-Fi', 'Comedy, Crime, Drama', 'Crime, Drama, Mystery', 'Drama, Romance', 'Action, Adventure, Drama', 'Action, Adventure, Crime', 'Action, Crime, Drama', 'Comedy, Romance', 'Drama, Mystery, Sci-Fi', 'Crime, Drama, Mystery', 'Action, Adventure, Drama', 'Drama, Mystery, Romance', 'Drama, Fantasy, Horror', 'Drama, Horror, Sci-Fi', 'Crime, Drama, Thriller', 'Crime, Drama, Fantasy', 'Drama, Fantasy, Horror', 'Action, Crime, Drama', 'Crime, Drama, Mystery', 'Action, Drama, Fantasy', 'Animation, Comedy', 'Adventure, Fantasy, Romance', 'Biography, Crime, Drama', 'Action, Crime, Drama', 'Comedy, Romance', 'Comedy, Drama, Romance', 'Comedy, Drama', 'Crime, Drama, Thriller', 'Drama, Fantasy, Horror', 'Action, Adventure, Drama', 'Drama, Romance', 'Drama, Mystery, Sci-Fi', 'Action, Crime, Drama', 'Drama, Mystery, Sci-Fi', 'Action, Crime, Drama', 'Comedy, Drama, Romance', 'Animation, Adventure, Comedy', 'Action, Drama, Fantasy', 'Adventure, Comedy, Crime', 'Drama', 'Crime, Drama, Mystery', 'Crime, Drama, Thriller', 'Comedy, Drama', 'Comedy, Drama', 'Comedy, Romance', 'Action, Adventure, Drama', 'Crime, Drama, Romance', 'Crime, Drama, Mystery', 'Drama, Horror, Sci-Fi', 'Animation, Comedy', 'Crime, Drama, Mystery', 'Adventure, Drama, Fantasy', 'Crime, Drama', 'Drama, Mystery', 'Crime, Drama, Mystery', 'Drama, Sci-Fi, Thriller', 'Crime, Drama, Mystery', 'Action, Crime, Drama', 'Action, Adventure, Drama', 'Drama, Sci-Fi, Thriller', 'Drama, Fantasy, Horror', 'Drama', 'Comedy', 'Comedy, Drama, Music', 'Animation, Comedy', 'Comedy, Crime', 'Drama, Mystery, Sci-Fi', 'Action, Adventure, Comedy', 'Crime, Drama, Mystery', 'Drama, Fantasy, Mystery', 'Comedy, Drama, Mystery', 'Crime, Drama', 'Drama, Horror, Mystery', 'Action, Crime, Drama', 'Comedy, Drama', 'Drama', 'Comedy, Drama, Romance', 'Comedy, Drama, Fantasy', 'Action, Adventure, Crime', 'Drama, Sci-Fi, Thriller', 'Crime, Drama, Mystery', 'Drama, Mystery, Thriller', 'Action, Crime, Drama', 'Drama, Thriller', 'Action, Adventure, Crime', 'Crime, Drama, Mystery', 'Comedy, Drama, Thriller', 'Crime, Drama, Mystery', 'Biography, Drama, History', 'Drama, History, Thriller', 'Comedy, Crime, Drama', 'Drama', 'Adventure, Comedy, Drama', 'Crime, Drama, Mystery', 'Comedy, Crime, Drama', 'Drama, Horror, Mystery']

In [63]:
run_time = driver.find_elements(By.XPATH,'//span[@class="runtime"]')
for i in run_time:
    try:
        run.append(i.text)
    except:
        run.append('-')
print(len(run),run)

100 ['57 min', '51 min', '44 min', '60 min', '43 min', '59 min', '45 min', '41 min', '43 min', '42 min', '70 min', '22 min', '60 min', '88 min', '44 min', '44 min', '43 min', '60 min', '49 min', '42 min', '44 min', '44 min', '43 min', '41 min', '22 min', '60 min', '49 min', '54 min', '22 min', '22 min', '44 min', '49 min', '45 min', '43 min', '42 min', '60 min', '42 min', '62 min', '56 min', '22 min', '23 min', '42 min', '25 min', '51 min', '60 min', '60 min', '45 min', '46 min', '22 min', '45 min', '45 min', '53 min', '44 min', '22 min', '43 min', '44 min', '60 min', '44 min', '42 min', '44 min', '55 min', '42 min', '42 min', '60 min', '60 min', '41 min', '60 min', '44 min', '22 min', '22 min', '43 min', '60 min', '55 min', '60 min', '45 min', '46 min', '45 min', '53 min', '30 min', '42 min', '45 min', '22 min', '55 min', '45 min', '60 min', '44 min', '55 min', '43 min', '50 min', '60 min', '45 min', '43 min', '58 min', '330 min', '42 min', '42 min', '50 min', '42 min', '45 min', '572 min']

In [64]:
rate = driver.find_elements(By.XPATH,'//div[@class="ipl-rating-star small"]/span[2]')
for i in rate:
    try:
        ratings.append(i.text[0])
    except:
        ratings.append('-')
print(len(ratings),ratings)

100 ['9', '8', '8', '7', '7', '8', '6', '7', '7', '7', '8', '8', '8', '9', '8', '7', '7', '8', '9', '8', '8', '8', '8', '7', '8', '7', '8', '8', '8', '8', '8', '8', '8', '6', '7', '8', '7', '8', '7', '8', '9', '6', '8', '8', '8', '7', '8', '8', '7', '7', '7', '8', '6', '8', '8', '8', '8', '8', '6', '8', '8', '7', '6', '8', '7', '8', '7', '6', '8', '8', '6', '7', '8', '7', '7', '9', '8', '8', '8', '7', '8', '8', '6', '6', '8', '7', '7', '7', '7', '8', '6', '8', '8', '9', '7', '7', '7', '8', '7', '8']

In [65]:
vote = driver.find_elements(By.XPATH,"//div[@class='lister-item-content']/p[4]/span[2]")
for i in vote:
    try:
        Votes.append(i.text)
    except:
        Votes.append('-')
print(len(Votes),Votes)

100 ['2,193,876', '1,267,542', '1,041,333', '306,061', '265,134', '312,755', '150,635', '326,834', '362,132', '440,293', '504,947', '837,834', '606,558', '962,776', '559,009', '173,774', '336,286', '330,209', '2,022,476', '341,245', '464,816', '559,512', '159,860', '157,996', '422,525', '231,358', '449,616', '458,952', '1,040,749', '708,266', '442,227', '403,952', '142,632', '127,512', '184,296', '159,202', '236,529', '519,535', '221,271', '458,795', '563,681', '67,636', '207,758', '518,977', '417,795', '86,056', '309,105', '262,071', '236,856', '222,280', '283,186', '744,827', '137,397', '354,026', '269,436', '575,110', '599,593', '487,156', '62,702', '114,307', '352,433', '77,040', '108,160', '249,254', '102,782', '106,411', '55,731', '152,713', '393,159', '340,000', '109,972', '262,030', '605,122', '110,066', '134,658', '597,613', '113,132', '252,409', '98,103', '24,061', '151,612', '176,825', '136,064', '39,900', '312,774', '122,814', '136,141', '77,500', '112,957', '213,844', '31,112', '193,350', '233,179', '815,121', '71,773', '52,458', '64,478', '210,163', '43,697', '263,790']

In [66]:
driver.close()

In [68]:
df = pd.DataFrame({'Name':name,'Year span':spans,'Genre':genre,'Run time':run,'Ratings':ratings,'Votes':Votes})
df

,Name,Year span,Genre,Run time,Ratings,Votes
0,Game of Thrones,(2011–2019),"Action, Adventure, Drama",57 min,9,"2,193,876"
1,Stranger Things,(2016–2024),"Drama, Fantasy, Horror",51 min,8,"1,267,542"
2,The Walking Dead,(2010–2022),"Drama, Horror, Thriller",44 min,8,"1,041,333"
3,13 Reasons Why,(2017–2020),"Drama, Mystery, Thriller",60 min,7,"306,061"
4,The 100,(2014–2020),"Drama, Mystery, Sci-Fi",43 min,7,"265,134"
...,...,...,...,...,...,...
95,Reign,(2013–2017),Drama,42 min,7,"52,458"
96,A Series of Unfortunate Events,(2017–2019),"Adventure, Comedy, Drama",50 min,7,"64,478"
97,Criminal Minds,(2005– ),"Crime, Drama, Mystery",42 min,8,"210,163"
98,Scream: The TV Series,(2015–2019),"Comedy, Crime, Drama",45 min,7,"43,697"
99,The Haunting of Hill House,(2018),"Drama, Horror, Mystery",572 min,8,"263,790"

In [ ]:
8